<span>gazou</span>

<span>Name</span>
<span>Introduction</span>
  <span>
  <%= link_to "editbutton", edit_user_path(@user.id) %>
  </span>
<span>New Book</span>
<span>Title</span>
<a href="#">Opinion</a>

<span>Books index</span>