  <h1>Editing Book</h1>

  <div class="row">
    <% if @book.errors.any? %>
      <div id="error_explanation" class="alert alert-danger">
        <ul>
          <% @book.errors.full_messages.each do |message| %>
            <li><%= message +"error" %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="col-md-6 col-md-offset-3">
		<%= render 'form', book: @book %>
      <%=link_to 'Show', book_path(@book) %> |
      <%= link_to 'Back', books_path %>
    </div>
  </div>
