/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
  *= require_tree ../../../app/assets/stylesheets/.
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

#container{
  height: 400px;
}

.image1 {
  background-image: url(image1.jpg);
}
.image2 {
  background-image: url(image2.jpg);
}
.image3 {
  background-image: url(image3.jpg);
}
.image4 {
  background-image: url(image4.jpg);
}
.image5 {
  background-image: url(image5.jpg);
}

header .navbar-left span{
  color: #fff;
  font-size: 20px;
  padding: 10px;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
}

.btn-wrapper {
  color:#333
}

h1, .h1, h2, .h2, h3, .h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}

h1 .h1 {
  font-size: 36px;
}

a {
  color: #337ab7;
  text-decoration: none;
  background-color: transparent;
}
a:visited {
  color: #666;
}

.notice {
  color: green;
}
th {
  text-align: left;
}

.field, .actions {
  margin-bottom: 10px;
}

label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: bold;
}
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  overflow: auto;
}

